.second {
  width: 100%;
  height: 80vh;
  background-color: white;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.second__title {
  font-size: 30px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  width: 25%;
}

.card > h6 {
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card > p {
  font-size: 15px;
  color: gray;
}

.imgBox {
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgBox > img {
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .second {
    max-width: var(--max-width-mo);
  }
  .second__title {
    font-size: 30px;
  }
}
