@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-bottom: 10px;
}

.card_container {
  display: flex;
  gap: 10px;
  /* background-color: pink; */
  background-image: url("../travel/seoul.jpg");
  background-size: cover;
  /*background-position: x축  y축 */
  background-position: 50% 50%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imageBox {
  width: 166px;
  height: 166px;
}

.imageBox > img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
}

.city > span {
  font-family: "Pretendard-Regular";
  font-weight: 400;
  font-style: normal;
}
