.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  border: 1px solid #dbdbdb;
  background-color: blue;
  gap: 20px;
  padding: 20px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.find {
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  background-color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  height: 150px;
  width: 350px;
  gap: 10px;
}

.bottom_b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}
.bisque {
  color: bisque;
}

.pink {
  color: pink;
}

.orange {
  color: orange;
}
