main {
  background-color: var(--primary-purple-200);
}

.first {
  width: 100vw;
  height: 100vh;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

article {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text > h1 {
  font-size: 70px;
  font-weight: 900;
}

.text > span {
  font-size: 30px;
  font-weight: 700;
  padding-top: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
  padding-left: 50px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutrals-white);
  gap: 10px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
}
.button > i {
  display: flex;
  font-size: 20px;
}

.button > span {
  font-size: 15px;
  font-weight: 700;
}

.button > img {
  width: 100px;
  height: 50px;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  position: relative;
}

.img1 > img {
  width: 100%;
  height: 100%;
}

.img2 > img {
  position: absolute;
  top: 300px;
  right: 150px;
  width: 100%;
  height: 50%;
}
