.box {
  /* 
        어떻게 보여주는 CSS
        block: 자기 부모 전체
        inline: 자기 컨텐츠만
        flex: 자기 자식들을 한줄로 배치해주세요 */
  display: flex;
  flex-direction: column; /* 가로배열 row  세로배열 column*/
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 500px;
  background-color: pink;
}

.mini {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}
