span{
    border: 1px solid rgb(198, 196, 196);
    font-weight: 800;
    text-align: center;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 20px;
}
.all{
    border: 1px solid rgb(198, 196, 196);
    font-weight: 800;
    text-align: center;
    width: 100px;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: blue;
    color: white;
}

