.first {
  width: 100vw;
  height: 80vh;
  position: relative;
  background-color: black;
}

.first > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.first__article {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
}

.first__article > h1 {
  font-size: 100px;
  color: white;
  padding-bottom: 40px;
}

.first__article > p {
  font-size: 15px;
  color: #888;
  padding-bottom: 5px;
}

.first__button {
  margin-top: 30px;
  font-size: 15px;
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 5px 150px 5px 150px;
}

.first__button:hover {
  background-color: white;
  color: #888;
  cursor: pointer;
  transition: all 0.5s;
}

@media screen and (max-width: 480px) {
}
