.button_layout{
    padding-top: 5px;
}

.button{
    background-color: skyblue;
    /* 둥글게 */
    border-radius: 50%;
    padding: 14px;
}

.button1{
    background-color: black;
    border-radius: 50%;
    padding: 15px;
}

.email{
    color: white;
    font-size: 20px;
}

.apple{
    color: white;
    font-size: 14px;
}